.git
.gitignore

frontend/node_modules
frontend/dist

backend/.env
backend/.venv
backend/**.pyc
backend/__pycache__
backend/**/__pycache__
backend/*.egg-info
backend/data
backend/images

**.db

**.env
**.env.*

Dockerfile
.dockerignore

COPYING
README.md
